.scoreContainer {
    
    background-color: #3782eb;
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: white;
    font-weight: 800;
    font-size: 24px;
    padding: 8px;
}
#playercon {
    display: flex;
    flex-direction: row;
}
#player {
    display: flex;
}
#score {
    
    display: flex;
    flex-direction: row;
    gap: 20px;
}